#footer-container {
    width: 95%;
    height: auto;
    background-color: #7470ff;
    color: #fff;
    padding: 2.5%;
    position: absolute;
}
#footer-container a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5em;
}

#footer-container a:hover {
    color: #77ff00;
}

#unpoll-container,
#enciv-container {
    width: 100%;
    height: auto;
    margin-bottom: 3.5%;
}

#button-container p {
    font-size: 2rem;
}

#button-container button {
    width: 180px;
    height: 50px;
    border-radius: 30px;
    background-color: #fff;
    border: none;
    font-size: 1rem;
    color: #262d33;
}

#button-container button:hover {
    background-color: #77ff00;
    cursor: pointer;
}
